@page
@model IndexModel
@{
    ViewData["Title"] = "This is the second version of the Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the second version</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
